<h3>This is full info about student </h3>

<div class="container">
   <div class="row profile-info">
       <div class="col-6 info">
            <ul>
                <li><strong>First Name:</strong>   <%= @student.first_name %></li>
                <li><strong>Last Name:</strong>   <%= @student.last_name %></li>
                <li><strong>Birthday:</strong>   <%= @student.date_of_birth %></li>
                <li><strong>Highest Completed Education:</strong>   <%= @student.highest_completed_education %></li>

            </ul>
        </div>
    </div>
    <%= link_to 'Edit', edit_student_path %>
    <%= link_to 'Back to Students', students_path %>
</div>