<h3>This is full info about instructor </h3>

<div class="container">
   <div class="row profile-info">
       <div class="col-12 info">
            <ul>
                <li><strong>First Name:</strong>   <%= @instructor.first_name %></li>
                <li><strong>Last Name:</strong>   <%= @instructor.last_name %></li>
                <li><strong>Birthday:</strong>   <%= @instructor.date_of_birth %></li>
                <li><strong>Salary:</strong>   <%= @instructor.salary %></li>
                <li><strong>Highest Completed Education:</strong>   <%= @instructor.highest_completed_education %></li>

            </ul>
        </div>
    </div>
    <%= link_to 'Assign Cohort', new_instructors_cohort_path, class: 'mr-3' %>
    <%= link_to 'Edit', edit_instructor_path, class: 'mr-3' %>
    <%= link_to 'Back to Instructors', instructors_path, class: 'mr-3' %>
    
</div>
